HOWDY

THIS WILL BE SO FUN

JUST YOU WAIT

YOU'LL JUST LOVE IT
<div class="container">
  <div class="row">
  <h1>Larch Provisions Inventory</h1>
  </div>
  @Html.Partial("add_item_form.cshtml")
  <div class="row">
    <div class="col">
      <ol>
      @if (Model != null)
      {
        @foreach (var item in @Model)
        {
          <h3>@item.GetName()</h3>
          <ul>
            <li>Category: @item.GetCategory()</li>
            <li>Description: @item.GetDescription()</li>
            <li>Amount per @item.GetName(): @item.GetAmount()</li>
            <li>Price per @item.GetName(): $@item.GetPrice()</li>
          </ul>
        }
      }
    </ol>
    </div>
  </div>
</div>
